# === MODO DE EJECUCIÓN ===
# telegram, web, ambos
MODO=ambos

# === CONFIGURACIÓN DEL BOT ===
TELEGRAM_BOT_TOKEN=tu_token_aqui # Solo si es ambos o telegram

# === CONTROL DE ACCESO ===
# S=activo (solo usuarios autorizados), N=desactivado (todos pueden usar)
CONTROL_ACCESO=N
TELEGRAM_ADMIN_ID=tu_admin_id_aqui  # Solo necesario si CONTROL_ACCESO=S

# === COLA DE DESCARGAS ===
MAX_COLA_DESCARGAS=50
